*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #754dff, #22aef6);

}

.App {
  text-align: center;
}

h1{
  color: #fff;
  margin: 20px 0 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-shadow: 1px 1px #333;
}

@media (max-width: 700px) {
  h1{
    font-size: 1.5rem;
  }
}
a{
  color:black;
  text-align: center;
  font-size: 3rem;
  height: 50vmin;
  
}